<p>TITLE:::</p>
<%= @article.title %>
<p>TEXT::::::::::</p>
<%= @article.text %>
<%=link_to "Edit", edit_article_path(@article) %>
<%=link_to "Delete", @article, method: :delete %>
<%= link_to "Index", articles_path %>
<%= link_to "New", new_article_path %>

<h2>Comments</h2>
<% @article.comments.each do |comment| %>
  <p>
    <strong>Commenter:</strong>
    <%= comment.commenter %>
  </p>
 
  <p>
    <strong>Comment:</strong>
    <%= comment.body %>
  </p>

  
| <%= link_to 'Edit', edit_article_comment_path(@article, comment) %>
 <%= link_to 'Delete', article_comment_path(@article, comment), method: :Delete%>
<% end %>

<h2>Add a comment:</h2>
<%= form_for([@article, @article.comments.build]) do |f| %>
  <p>
    <%= f.label :commenter %><br>
    <%= f.text_field :commenter %>
  </p>
  <p>
    <%= f.label :body %><br>
    <%= f.text_area :body %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>
 
